---
permalink: /chapters/13-prayer-and-repentance/
eleventyExcludeFromCollections: true
layout: false
---
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="refresh" content="0; url=/volume-1/">
<title>Redirecting...</title>
</head>
<body>
<p>This chapter has been reorganized. <a href="/volume-1/">Continue to Volume 1</a>.</p>
</body>
</html>
